{% load static %}
<footer>
    <div class="footerContainer">
        <a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
        <div class="Links">
            <p>Links</p>
            <a href="#">Pizza</a>
            <a href="#">Burger</a>
            <a href="#">Fish</a>
            <a href="#">Meat</a>
        </div>
        <div class="Links">
            <p>Contact Us Now!</p>
            <a href="#"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
            <a href="#"><i class="fa-brands fa-facebook"></i> FaceBook</a>
            <a href="#"><i class="fa-brands fa-whatsapp"></i>Call Us</a>
        </div>

    </div>
</footer>
