{% load static %}
<footer>
    <div class="footerContainer">
        <a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
        <div class="Links">
            <p>Links</p>
            {% for category in categories %}
            <a href="#">{{ category.name }}</a>
            {% endfor %}
        </div>
        <div class="Links">
            <p>Contact Us Now!</p>
            <a href="https://wa.me/+{{ info.phone_number}}"><i class="fa-brands fa-whatsapp"></i>WhatsApp</a>
            <a href="{{ info.facebook }}"><i class="fa-brands fa-facebook"></i>FaceBook</a>
            <a href="{{ info.instagram }}"><i class="fa-brands fa-instagram"></i>Instagram</a>
            <a href="mailto:{{ info.email }}"><i class="fa-solid fa-envelope"></i>Email Us</a>
        </div>
    </div>
</footer>
