{% extends "base.html" %}
{% load static %}

{% block subtitle %} Home page {% endblock %}

{% block content %}
<header class="global-animation">
    <div class="headerContainer">
        <div class="headerLeft">
            Order Your Delicious Food Now!
        </div>
    </div>
</header>

<div class="swiper mySwiper SliderSection">
    <div class="swiper-wrapper">
<!--        {% for product in featured_products %}-->
<!--        <div class="swiper-slide">-->
<!--            <img src="{{ product.image.url }}" alt="photo">-->
<!--        </div>-->
<!--        {% endfor %}-->
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
    </div>
    <div class="prev">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="next">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
</div>

<section class="sectionOne">
    <div class="titleContainer">
        <img src="{% static 'images/logo.png' %}" alt="icon" style="width:100px ; height:100px;">
        <h2 class="title">We Offer People The Best Pizza</h2>
    </div>
    <div class="cards">
        <div class="card">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
            <div class="cardLayout">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, omnis!</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
            <div class="cardLayout">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, omnis!</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
            <div class="cardLayout">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, omnis!</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
            <div class="cardLayout">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, omnis!</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
            <div class="cardLayout">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, omnis!</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
            <div class="cardLayout">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, omnis!</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
            <div class="cardLayout">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, omnis!</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
            <div class="cardLayout">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, omnis!</p>
            </div>
        </div>
    </div>
</section>

<section class="sectionTwo">
    <h2 class="title">Our Specials</h2>
    <div class="cards2">
        <div class="card2">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
            <div class="cardBody2">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
        <div class="card2">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
            <div class="cardBody2">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
    </div>
</section>

 <div class="sectionThree">
     <div class="sThreeContainer">
         <div class="sThreeImg">
             <img src="{% static 'images/ad.png' %}" alt="">
         </div>
         <div class="sThreeContent">
             <h3 class="smTitle">We have good burgers</h3>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere quae rem asperiores, exercitationem minima fugiat?</p>
         </div>
     </div>
 </div>

<section class="videoBg">
    <h2 class="title">You'll Feel Like Your Home</h2>
    <video src="{% static 'videos/video.mp4' %}" muted autoplay controls></video>
</section>

<!--{% for category in categories %}-->
<!--    {% for product in category.products.available %}-->
<!--    {% endfor %}-->
<!--{% endfor %}-->
{% endblock %}
