{% extends "base.html" %}
{% load static %}

{% block subtitle %} Home page {% endblock %}

{% block content %}
<header class="global-animation">
    <div class="headerContainer">
        <div class="headerLeft">
            Order Your Delicious Food Now!
        </div>
    </div>
</header>

<div class="swiper mySwiper SliderSection">
    <div class="swiper-wrapper">
        {% for product in featured_products %}
        <div class="swiper-slide">
            <img src="{{ product.image.url }}" alt="photo">
        </div>
        {% endfor %}
    </div>
    <div class="prev">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="next">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
</div>

<section class="sectionTwo">
    <h2 class="title">Our Specials</h2>
    <div class="cards2">
        {% for product in featured_products %}
        <div class="card2">
            <img src="{{ product.image.url }}" alt="photo">
            <div class="cardBody2">
                <h2>{{ product.name }}</h2>
                <p>{{ product.price }}$</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% for category in categories %}
<section class="sectionOne">
    <div class="titleContainer">
        <img src="{{ category.image.url }}" alt="icon" style="width:100px ; height:100px;">
        <h2 class="title">{{ category.name }}</h2>
    </div>
    <div class="cards">
        {% for product in category.products.available %}
        <div class="card">
            <img src="{{ product.image.url }}}" alt="photo">
            <div class="cardBody">
                <h2>{{ product.name }}</h2>
                <p>{{ product.price }}$</p>
            </div>
            <div class="cardLayout">
                <p>{{ product.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}

 <div class="sectionThree">
     <div class="sThreeContainer">
         <div class="sThreeImg">
             <img src="{% static 'images/ad.png' %}" alt="">
         </div>
         <div class="sThreeContent">
             <h3 class="smTitle">We have good burgers</h3>
             <p>Best value for money, dont wait hurry up !!..</p>
         </div>
     </div>
 </div>

<section class="videoBg">
    <h2 class="title">You'll Feel Like Your Home</h2>
    <video src="{% static 'videos/video.mp4' %}" muted autoplay controls></video>
</section>
{% endblock %}
