{% extends "base.html" %}
{% load static %}

{% block subtitle %} Home page {% endblock %}

{% block content %}
<header class="global-animation">
    <div class="headerContainer">
        <div class="headerLeft">
            Order Your Delicious Food Now!
        </div>
    </div>
</header>

<div class="swiper mySwiper SliderSection">
    <div class="swiper-wrapper">
<!--        {% for product in featured_products %}-->
<!--        <div class="swiper-slide">-->
<!--            <img src="{{ product.image.url }}" alt="photo">-->
<!--        </div>-->
<!--        {% endfor %}-->
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
        </div>
        <div class="swiper-slide">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
        </div>
    </div>
    <div class="prev">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="next">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
</div>

<section class="sectionOne">
    <h2 class="title">We Offer People The Best Way To Eat Food</h2>
    <div class="cards">
        <div class="card">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product3.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
            <div class="cardBody">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
    </div>
</section>

<section class="sectionTwo">
    <h2 class="title">Our Specials</h2>
    <div class="cards2">
        <div class="card2">
            <img src="{% static 'images/product1.jpg' %}" alt="photo">
            <div class="cardBody2">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
        <div class="card2">
            <img src="{% static 'images/product2.jpg' %}" alt="photo">
            <div class="cardBody2">
                <h2>Name of the Product</h2>
                <p>99$</p>
            </div>
        </div>
    </div>
</section>

<section class="videoBg">
    <h2 class="title">You'll Feel Like Your Home</h2>
    <video src="{% static 'videos/video.mp4' %}" muted autoplay controls></video>
</section>

<!--{% for category in categories %}-->
<!--    {% for product in category.products.available %}-->
<!--    {% endfor %}-->
<!--{% endfor %}-->
{% endblock %}
